@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--teaser {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 1.5rem 0 0 0;
  text-decoration: none;
  background-color: $grey-light;
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 100% 60%;
  color: $green;

  @media (min-width: breakpoint('sm')) {
    background-size: 100% auto;
    background-position: 0 120%;
    padding-bottom: 136%;
  }

  @media (min-width: breakpoint('lg')) {
    margin: 1.5rem 0.5rem 0 0.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    bottom: -0.75rem;
    right: 0.75rem;
    background: $piggy-light url('~/img/arrow.svg');
    background-size: contain;

    @media (min-width: breakpoint('md')) {
      width: 70px;
      height: 70px;
      bottom: -1rem;
      right: 1rem;
    }
  }
}

.et--teaser--consumers {
  background-image: url('~/img/teaser_consumers.png');

  @media (min-width: breakpoint('sm')) {
    background-image: url('~/img/teaser_consumers_lg.png');
  }
}

.et--teaser--farms {
  background-image: url('~/img/teaser_farms.png');

  @media (min-width: breakpoint('sm')) {
    background-image: url('~/img/teaser_farms_lg.png');
  }
}

.et--teaser--initiatives {
  background-image: url('~/img/teaser_initiatives.png');

  @media (min-width: breakpoint('sm')) {
    background-image: url('~/img/teaser_initiatives_lg.png');
  }
}

.et--teaser__title {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  z-index: 1;
  @include font-size('18');
  @include line-height('heading');

  @media (min-width: breakpoint('sm')) and (max-width: breakpoint('lg')) {
    top: 1rem;
    bottom: auto;
  }

  @media (min-width: breakpoint('md')) {
    @include font-size('20');
  }
}

.et--teaser__text {
  position: absolute;
  top: 1.5rem;
  right: 33%;
  left: 1.5rem;
  z-index: 1;
  font-family: $font-family-serif;
  @include font-size('18');

  @media (min-width: breakpoint('sm')) and (max-width: breakpoint('lg')) {
    display: none;
  }

  @media (min-width: breakpoint('xl')) {
    right: 1.5rem;
    @include font-size('20');
  }
}
