@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--teaser {
  display: block;
  position: relative;
  padding-bottom: 133%;
  margin: 3rem 0;
  background: $beige;
  text-decoration: none;
}

.et--teaser__claim {
  font-family: $font-family-serif;
  @include font-size(16);
  @include line-height('heading');
}

.et--teaser__title {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  @include font-size(16);
  @include line-height('heading');
}
