@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--teaser {
  background: $beige;
  min-height: 30vh;
  display: block;
  margin: 3rem 0;
  padding: 1rem;
  text-decoration: none;
}

.et--teaser__claim {
  font-family: $font-family-serif;
  @include font-size(16);
  @include line-height('heading');
}

.et--teaser__title {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  @include font-size(16);
  @include line-height('heading');
}
