@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.hero {
  display: block;
  color: $white;
  background: $green-dark url('../../assets/img/hero.png') no-repeat center 0;
  background-size: 511px 221px;

  @media (min-width: breakpoint('md')) {
    min-height: 70vh;
    max-height: 600px;
  }
}

.hero__claim {
  max-width: 800px;
  font-family: $font-family-serif;
  color: $white;
  text-align: center;
  margin: 5vh auto;
  padding-top: 40vh;
  font-size: 1.5rem;
  @include line-height('heading');

  strong {
    color: $pink-light;
    display: block;
    font-weight: normal;
  }
}
