@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--hero {
  display: block;
  color: $white;
  background: $green;
  min-height: 60vh;

  @media (min-width: breakpoint('sm')) {
    min-height: 66vh;
    max-height: 800px;
  }
}

.et--hero__content {
  max-width: 520px;
  margin: 0 auto;
  padding: 30vh 0.5rem 2rem 0.5rem;
  background: url('~/img/hero.png') no-repeat center 0;
  background-size: auto 23vh;
  color: $white;
  font-family: $font-family-serif;
  text-align: center;

  @media (min-width: breakpoint('sm')) {
    padding-top: 40vh;
    background-size: auto 33vh;
    width: 80vw;
    max-width: 600px;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.375;

    @media (min-width: breakpoint('md')) {
      font-size: 1.5rem;
    }
  }

  strong {
    display: block;
    font-weight: normal;
    color: $piggy-light;
  }

  a {
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $piggy-light;
    }
  }
}
