@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--hero {
  color: $green-dark;
  background: $white;
  font-family: $font-family-sans-serif;
  text-align: center;
}

.et--hero__content {
  padding: 2rem 1rem;

  @media (min-width: breakpoint('lg')) {
    padding: 3rem;
  }
}

.et--hero__title {
  display: block;
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 1.1;
  color: $green;
  font-family: $font-family-sans-serif;

  @media (min-width: breakpoint('xl')) {
    margin: 2rem 0;
    font-size: 3rem;
  }
}

.et--hero__lead {
  display: block;
  color: $green-dark;
  font-family: $font-family-serif;
  margin-bottom: 1.5rem;
}

.et--hero__link {
  &:hover,
  &:focus,
  &:active {
    color: $green;
  }
}
