@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--hero {
  display: block;
  color: $white;
  background: $green;

  @media (min-width: breakpoint('md')) {
    min-height: 70vh;
    max-height: 600px;
  }
}

.et--hero__content {
  max-width: 500px;
  margin: 0 auto 5vh auto;
  padding-top: 12rem;
  background: url('~/img/hero.png') no-repeat center 0;
  background-size: 400px 150px;
  color: $white;
  font-size: 1.25rem;
  font-family: $font-family-serif;
  text-align: center;

  @media (min-width: breakpoint('sm')) {
    padding-top: 42vh;
    background-size: 510px 220px;
    font-size: 1.5rem;
  }

  @media (min-width: breakpoint('md')) {
    max-width: 800px;
  }

  p {
    font-size: inherit;
  }

  strong {
    display: block;
    font-weight: normal;
    color: $piggy-light;
  }

  a {
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $piggy-light;
    }
  }
}
