@import '../../styles/theme';

.et--hero-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  min-height: 65vh;
  background: $green url('/img/hero.png') no-repeat center 0;
  background-size: 350px auto;

  @media (min-width: breakpoint('sm')) {
    margin-top: -2rem;
    background-size: 480px auto;
  }

  @media (min-width: breakpoint('md')) {
    height: 65vh;
    min-height: 400px;
    max-height: 65vw;
    background-size: 480px auto;
    margin-top: 1vw;
  }

  @media (min-width: breakpoint('lg')) {
    max-height: 45vw;
  }
}

.et--hero-home__content {
  max-width: 520px;
  margin: 0 auto;
  padding: 180px 0.5rem 3rem 0.5rem;
  color: $white;
  font-family: $font-family-serif;
  text-align: center;

  @media (min-width: breakpoint('sm')) {
    padding-top: 45%;
  }

  @media (min-width: breakpoint('md')) {
    padding-top: 45%;
  }

  @media (min-width: breakpoint('lg')) {
    padding-top: 260px;
    max-width: 800px;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.375;

    @media (min-width: breakpoint('md')) {
      font-size: 1.5rem;
    }
  }

  strong {
    display: block;
    font-weight: normal;
    color: $piggy-light;
  }

  a {
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $piggy-light;
    }
  }
}
