// Special styles for the legacy map embed.
// To be removed with the teikei@next release.

#teikei-app {
  font-family: $font-family-sans-serif;
}

#teikei-app .button-help {
  display: none;
}

#teikei-app .user-nav {
  top: 85px;
}

@media screen and (min-width: 760px) {
  #teikei-app .user-nav {
    top: 0;
    padding-right: 40px;
  }

  #teikei-app .account-nav {
    top: 120px;
    right: 140px;
  }
}
