// Special styles for the legacy map embed.
// To be removed with the teikei@next release.

@media screen and (min-width: 760px) {
  #teikei-app .user-nav {
    z-index: 10; // move z-index down so that it does not overlap the website nav
  }

  #teikei-app .account-nav {
    top: 180px;
    right: 20px;
  }

  #teikei-app .account-nav-login {
    top: 120px;
    right: 20px;
  }

  #teikei-app .details {
    padding-top: 210px;
  }

  #teikei-app .details {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #teikei-app .account-nav {
    top: 120px;
    right: 320px;
  }
}
