@import 'variables';
@import 'fonts';
@import '~carbon-components/scss/globals/scss/styles';
@import 'markdown';
@import 'teikei-legacy';

body {
  background: $green;
}

main {
  background: $white;
  line-height: 1.5;
}

.bx--grid {
  max-width: $grid-max-width;
}
