@use 'reset';
@use 'theme' as *;
@use 'grid';
@use 'fonts';
@use 'markdown';
@use 'teikei-legacy';
@use 'teikei-embed';

body {
  background: $green;
}

main {
  background: $white;
  line-height: 1.5;
  color: $green-dark;
  font-family: $font-family-serif;
}

a {
  color: $green-light;
}
