@import 'theme';
@import 'fonts';
@import 'markdown';
@import 'teikei-legacy';

@import '~carbon-components/scss/globals/grid/grid';

body {
  background: $green;
  line-height: 1.5;
}

main {
  background: $white;
}

.bx--grid {
  max-width: $grid-max-width;
}
