.et--markdown {
  padding: 1rem;
  margin: 0 auto;
  font-family: $font-family-serif;

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  @media (min-width: breakpoint('md')) {
    padding: 3rem 1rem;
  }
}

.et--markdown--listing {
  h1,
  h2 {
    margin: 1rem 0;
    color: $green;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;

    @media (min-width: breakpoint('xl')) {
      margin: 2rem 0;
      font-size: 3rem;
    }
  }

  p {
    margin: 0 0 1rem 0;
  }

  a {
    color: $green;
    font-style: italic;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;

    @media (min-width: breakpoint('md')) {
      min-height: 500px;

      &:nth-child(even) {
        padding-left: 50%;

        img {
          left: 0;
        }
      }

      &:nth-child(odd) {
        padding-right: 50%;

        img {
          right: 0;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: contain;
      margin: 1rem 0;

      @media (min-width: breakpoint('md')) {
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: contain;
        top: 0;
      }
    }
  }
}
