@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--card {
  display: block;
  margin: 33vw 0 3rem 0;
  top: 0;
  right: 10px;
  padding: 4rem 50px;
  background: $grey-light;
  color: $green-dark;
  text-align: left;

  @media (min-width: breakpoint('sm')) {
    margin: 25vw 0 3rem 0;
  }

  @media (min-width: breakpoint('md')) {
    margin: 4rem 0;
  }
}

.et--card__tagline {
  color: $green;
  font-family: $font-family-serif;
  font-size: 1.125rem;
}

.et--card__title {
  display: block;
  color: $green;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75rem;
}

.et--card__text {
  color: $green-dark;
  font-family: $font-family-serif;
  font-size: 1.25rem;
  margin: 1.75rem 0;
}
