@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--card {
  display: block;
  margin: 33vw 0 3rem 0;
  padding: 2rem 50px;
  background: $grey-light;
  color: $green-dark;
  text-align: center;

  @media (min-width: breakpoint('md')) {
    background: $white;
    opacity: 0.95;
    margin: 3rem 0;
  }

  @media (min-width: breakpoint('xl')) {
    margin: 5rem 0;
  }
}

.et--card__title {
  display: block;
  color: $green;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 1.25rem;

  @media (min-width: breakpoint('xl')) {
    font-size: 1.75rem;
  }
}

.et--card__text,
.et--card__index {
  color: $green-dark;
  font-family: $font-family-serif;
  margin: 1.75rem 0;
  font-size: 1rem;

  @media (min-width: breakpoint('xl')) {
    font-size: 1.125rem;
  }
}
