@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--off-canvas-menu {
  background: $green;
  position: relative;
}

.et--off-canvas-menu__nav {
  padding: 1rem 3rem 1rem 0.5rem;

  @media (min-width: breakpoint('md')) {
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }
}

.et--off-canvas-menu__link {
  display: block;
  padding: 0.75rem 0;
  color: $white;
  font-size: 1.125rem;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  text-decoration: none;

  @media (max-width: breakpoint('lg')) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.et--off-canvas-menu__close {
  position: absolute;
  top: 1.75rem;
  right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  text-indent: 1.5rem;
  border: none;
  background: url('~/img/close.svg') no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
  cursor: pointer;

  @media (min-width: breakpoint('md')) {
    top: 2.25rem;
    right: 1rem;
  }
}
