@import '../../styles/theme';
@import '~carbon-components/scss/components/button/mixins';

.et--header {
  height: 75px;
  padding: 1rem 0.5rem;
  background-color: $green;
  color: $white;

  @media (min-width: breakpoint('md')) {
    height: 100px;
    padding: 1.25rem 0;
  }
}

.et--header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.et--header__container {
  justify-content: space-between;
}

.et--header__logo {
  display: block;
  width: 135px;
  height: 40px;
  text-decoration: none;
  background: url('~/img/logo.svg') no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: breakpoint('md')) {
    width: 160px;
    height: 60px;
  }
}

.et--header__nav {
  margin: 0.5rem 0;
  padding: 0;
  list-style: none;
  justify-content: center;

  li {
    display: inline;
  }
}

.et--header__nav-item {
  padding-bottom: 0.1rem;
  margin: 0 1rem;
  color: $white;
  font-size: 1.125rem;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  text-decoration: none;

  @media (max-width: breakpoint('lg')) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border-bottom: 2px solid $white;
  }
}

.et--header__btn {
  @include button-base;
  @include button-theme(transparent, $white, $white, $white, $white);

  @media (max-width: breakpoint('md')) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $green;
  }

  font-size: 1.125rem;
  padding: 0 2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.et--header__hamburger {
  margin-left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  text-indent: 1.5rem;
  border: none;
  background: url('~/img/hamburger.svg') no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
  cursor: pointer;

  @media (max-width: breakpoint('md')) {
    margin-top: 0.25rem;
  }
}
