@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--partners {
  padding-bottom: 2rem;

  @media (min-width: breakpoint('lg')) {
    display: flex;
  }
}

.et--partners__title {
  padding-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: breakpoint('lg')) {
    padding-left: 3rem;
  }
}

.et--partners__group {
  padding: 2rem 2rem 0 0;

  @media (min-width: breakpoint('lg')) {
    flex-grow: 1;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  li {
    padding: 0 1rem 1rem 0;
    flex-grow: 1;
  }
}

.et--partners__logo {
  width: 100%;
  height: 80px;

  @media (min-width: breakpoint('lg')) {
    width: 190px;
  }
}
