@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';

.et--partners {
  padding-top: 2rem;

  @media (min-width: breakpoint('md')) {
    display: flex;
  }
}

.et--partners__title {
  @media (min-width: breakpoint('md')) {
    padding-left: 3rem;
  }
}

.et--partners__group {
  ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  li {
    padding: 0 1rem 1rem 0;
    flex-grow: 1;
  }
}

.et--partners__logo {
  width: 100%;
  height: 90px;

  @media (min-width: breakpoint('md')) {
    width: 180px;
  }
}
