@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.et--card-carousel {
  max-width: $grid-max-width;
  margin: 0 auto;

  @media (min-width: breakpoint('md')) {
    .control-dots {
      display: none;
    }
  }
}

.et--card-carousel__slide {
  background: $green;
}

.et--card-carousel__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.et--card {
  display: block;
  margin: 25vh 0 3rem 0;
  top: 0;
  right: 10px;
  padding: 4rem 50px;
  background: $grey-light;
  color: $green-dark;
  text-align: left;

  @media (min-width: breakpoint('sm')) {
    margin: 60vh 0 3rem 0;
  }

  @media (min-width: breakpoint('md')) {
    margin: 4rem 0;
  }
}
