@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';
@import '../../../node_modules/carbon-components/scss/globals/scss/typography';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.et--card-carousel {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  pointer-events: none;

  @media (min-width: breakpoint('md')) {
    height: 56vw;
  }

  @media (min-width: breakpoint('xl')) {
    height: 600px;
    margin-bottom: 3rem;
  }

  .control-dots {
    top: 0;

    @media (min-width: breakpoint('md')) {
      display: none;
    }
  }

  .control-arrow {
    display: none;

    @media (min-width: breakpoint('md')) {
      display: block;
    }
  }
}

.et--card-carousel__slider {
  pointer-events: auto;
  background: $white;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.et--card-carousel__image {
  @media (min-width: breakpoint('lg')) {
    height: 600px;
  }
}
