@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';

.et--footer {
  position: relative;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;

  @media (min-width: breakpoint('md')) {
    height: 80vh;
    max-height: 600px;
  }
}

.et--footer__logo {
  display: block;
  width: 203px;
  height: 68px;
  margin: 2rem auto;
  text-decoration: none;
  color: $white;
  background: url('~/img/logo.svg') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.et--footer__nav {
  text-align: center;
  display: block;
  width: 100%;

  @media (min-width: breakpoint('md')) {
    top: 2rem;
    left: 0;
    right: 0;
    position: absolute;

    li {
      display: inline-block;
    }
  }
}

.et--footer__nav__item {
}

.et--footer__link {
  padding: 1rem;
  color: $white;
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
