@import '../../styles/variables';
@import '../../../node_modules/carbon-components/scss/globals/grid/grid';

.et--search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: $green-light url('~/img/search_background.png') no-repeat center;
  background-size: cover;
}

.et--search__label {
  color: $white;
}

.et--search__form {
  position: relative;
}
