// Self-hosted via @fontsource packages (OFL-1.1; license files ship in each
// package). We keep our own @font-face declarations rather than importing
// @fontsource's prebuilt CSS, because the site maps a single 'Roboto' family
// where the *bold* weight is actually Roboto Condensed 700. URLs use relative
// node_modules paths so Vite resolves + fingerprints them (the webpack `~`
// prefix did not work under Vite).

/* noto-serif-400normal - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Noto Serif Regular '), local('Noto Serif-Regular'),
    url('../../node_modules/@fontsource/noto-serif/files/noto-serif-latin-400-normal.woff2')
      format('woff2'),
    url('../../node_modules/@fontsource/noto-serif/files/noto-serif-latin-400-normal.woff')
      format('woff');
}

/* noto-serif-400italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Noto Serif Regular italic'), local('Noto Serif-Regularitalic'),
    url('../../node_modules/@fontsource/noto-serif/files/noto-serif-latin-400-italic.woff2')
      format('woff2'),
    url('../../node_modules/@fontsource/noto-serif/files/noto-serif-latin-400-italic.woff')
      format('woff');
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local('Roboto Regular '), local('Roboto-Regular'),
    url('../../node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2')
      format('woff2'),
    url('../../node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff')
      format('woff');
}

/* roboto-condensed-700normal - latin (used as the BOLD weight of 'Roboto') */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local('Roboto Condensed Bold '), local('Roboto Condensed-Bold'),
    url('../../node_modules/@fontsource/roboto-condensed/files/roboto-condensed-latin-700-normal.woff2')
      format('woff2'),
    url('../../node_modules/@fontsource/roboto-condensed/files/roboto-condensed-latin-700-normal.woff')
      format('woff');
}
