@import 'theme';
@import 'fonts';
@import 'markdown';
@import 'teikei-legacy';
@import 'teikei-embed';

@import 'node_modules/carbon-components/scss/globals/grid/grid';

body {
  background: $green;
}

main {
  background: $white;
  line-height: 1.5;
  color: $green-dark;
  font-family: $font-family-serif;
}

a {
  color: $green-light;
}

.bx--grid {
  max-width: $grid-max-width;
}
