@import '../../styles/theme';

.et--search {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  background: $green-light url('/img/search_background.png') no-repeat center;
  background-size: cover;
  font-family: $font-family-sans-serif;

  // Override default styling:
  .teikei-embed {
    background: transparent;

    .search-menu {
      z-index: 2;
    }
    .search-result {
      text-align: left;
      padding-left: 5px;
    }
  }
}

.et--search__form {
  position: relative;
}

.et--search__label {
  display: block;
  padding: 1rem;
  color: $white;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;

  @media (min-width: breakpoint('md')) {
    font-size: 1.5rem;
  }
}

.et--search__input {
  display: inline-block;
  position: relative;
  margin: 0.5rem 1rem;
  color: $green;
  font-size: 1.25rem;
  font-weight: normal;

  input {
    max-width: 80vw;
    margin: 0;
  }
}
