@import '../../styles/theme';
@import '../../../node_modules/carbon-components/scss/components/button/mixins';

.et--hero-featured {
  background: $grey-light;
  color: $green-dark;
  font-family: $font-family-sans-serif;
}

.et--hero-featured__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.et--hero-featured__image {
  display: none;

  @media (min-width: breakpoint('sm')) {
    display: block;
    margin: 3rem 0 3em -5rem;
    max-height: 320px;
  }

  @media (min-width: breakpoint('md')) {
    margin-left: 0;
  }
}

.et--hero-featured__content {
  padding: 2rem 1rem;

  @media (min-width: breakpoint('lg')) {
    padding: 3rem;
  }
}

.et--hero-featured__title {
  display: block;
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 1.1;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $green;

  @media (min-width: breakpoint('xl')) {
    margin: 2rem 0;
    font-size: 3rem;
  }
}

.et--hero-featured__lead {
  display: block;
  color: $green-dark;
  font-family: $font-family-serif;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.et--hero-featured__link {
  @include button-base;
  @include button-theme($green, $green, $white, transparent, $white);
  font-size: 1.25rem;
  padding: 0 1.25rem;

  &:hover,
  &:focus,
  &:active {
    color: $green;
  }
}
